@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

*,
:after,
:before {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#app {
  width: 100%;
  height: 100%;
  position: relative;
}
a {
  color: inherit;
}

/* slick style */
.slick-dots li {
  width: 26px !important;
  border-radius: 8px !important;
}
.slick-dots li button:before {
  color: #ffffff !important;
  opacity: 1 !important;
}
.slick-dots li.slick-active button:before {
  color: #6D65C3 !important;
  opacity: 1 !important;
}
.slick-dots li.slick-active > div {
  background: #6D65C3 !important;
  opacity: 1 !important;
}
.slick-dots li button:before {
  font-family: 'slick' !important;
  font-size: 26px !important;
  line-height: 20px !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '━' !important;
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
}

/* side bar */
::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #4B4C4E;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #96989C;
}
::-webkit-scrollbar:window-inactive {
  visibility: hidden;
}

/* Fresh desk */
.fc-widget-normal {
  z-index: 50 !important;
}
